$colors: rgb(69, 82, 144),rgb(68, 133, 180),rgb(122, 212, 217);
*{
  font-family: 'Roboto', sans-serif;
}
body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  .c2{
    color: #AAAAAA;
  }
  .c1{
      color: #2C92C7;
  }
  .c3{
    color:#95C8E3;
  }
  .c4{
    color:#E9F4F9;
  }
  .c5{
    color:#35488A;
  }
.font-12{
    font-size: 0.75rem;
  }
  .font-14{
    font-size: 0.875rem;
  }
  .font-16{
    font-size: 1rem;
  }
  .font-18{
    font-size: 1.125rem;
  }
  .font-20{
    font-size: 1.25rem;
  }
.font-24{
  font-size: 1.5rem;
}
.fw-3{
  font-weight: 300;
}
.fw-5{
  font-weight: 500;
}
.fw-6{
  font-weight: 600;
}
.border-l{
  border-left: 1px solid#ccc;
}
  header{
    font-family: 'Roboto', sans-serif;
    background-color: #F1F1F1;
    padding-bottom: 10px;
    .header-icons{
      padding-top: 5px;
    }
    .fvo-page{
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      color: #aaa;
    }

    .icon-home2{
          color: rgb(37, 37, 164);
          font-size: 110%;
          margin-left: 10px;
    }
    .icon-navigation_arrow_right{
      color: rgb(159, 142, 142);
      font-size: 80%;
      
      // .icon-link{
      //     color: lightgrey;
      //     background-color: rgb(195, 86, 86);
      //     text-decoration: none!important;
      // }
    }
  }
  .mheight{
    min-height: 4rem;
  }
  .bg1{
    background-color: rgb(32, 161, 217);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .font1{
     font-size:calc(1vw + 3px);
  }
  .font2{
    font-size:calc(1vw + .5px);
 }
  .container-card{
    background-color: #F1F1F1;
   padding-left: 10px;
    padding-right: 10px;
}
.claim-header-container{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
    padding-right: 10px;
  background-color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-bottom: 10px;
}
.claim-i-title{
  color: rgb(34, 69, 184);
    font-weight: 500;
    font-size: 1.3rem;
    padding-top: .5rem;
}
.btn-icon-more_vertical{
  padding: .5rem;
  border: #fff;
  background-color: #fff;
  color: rgb(136, 128, 128);
  font-size: 1rem;
}
.task-header{     
  font-size: .8em;  
  padding-top: .5rem;    

  .task-header-name{   
    font-size: 1.2rem;
     color:  rgb(30, 70, 202);
     font-weight: 600;
     margin-left: 1.2em;
    
  }

}
.container-card-fvo{

             display: grid;
            grid-template-columns: 15% 60% 25% ;
                     grid-row-gap: 100px;
                     

       
           }
.icon-justify{
  font-size: 2rem;
  color: #aaa;
}

.container-left{
   border: 1px solid #aaa;
   height: 70vh;
}
.container-center{
  border-bottom: 1px solid #aaa;
  height: 70vh;
}
.container-right{
  border: 1px solid #aaa;
  height: 70vh;
}
.container-card-1{
  border: 1px solid #aaa;
  height: 60vh;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.font-21{
   font-size: 1rem;
}
.container-card-3{
  display: grid;      
  grid-gap: .5em;
  grid-template-columns:  repeat(auto-fit , minmax(5rem ,1fr)) ;
 padding-left: .5em;
 padding-right: .5em;
  background-color: #fff;
  
}
.form-control{
  border: 1px solid #fff!important;
      border-bottom: 1px solid rgb(150, 143, 143)!important;
}

  .main-claim{
    display: grid;      
       grid-gap: .8em;
       grid-template-columns:  repeat(auto-fit , minmax(18rem , 1fr)) ;
      padding-left: .5em;
      padding-right: .5em;
       background-color: #fff;
      
    .section-claim {
      
      display: grid;
       background-color: #fff;
       border-radius: 10px;
       border: 2px solid rgb(218, 205, 205);
       padding-top: .5em;
       line-height: 1.2rem;
       
           .claim-name-1{

             display: grid;
             grid-template-columns:  1fr auto ;
             padding-left: .5em;
            
           }
           .claim-container{
             display: flex;
            justify-content: space-between;
             padding-left: .5em;
             padding-top: .8rem;
           }
                     
  .claim-status-symbol{
    padding-top: 1.2rem;
  }
    .icon-arrow-right-solid{
color: green;
margin-right: 1rem;
    }

    .checkbox-2{
         margin-right: 1.3rem;
    }
      
       .claim-name{
         color: rgb(78, 113, 173);
         font-size: .9em;
         font-weight: 600;   
         
       }
      .checkbox-1{
          margin-right: rem;
          margin-top: .2rem;
       }
       
       .claim-status-1{
         font-size: .9em;
         color: #aaa;
         padding-bottom: .3rem;
         
       }
.claim-status-hospital-name{
   padding-left: .4rem;

}
       .claim-status-2{
         font-size: 1em;
         color: rgba(36, 30, 30, 0.887);
         padding-bottom: .5rem;
         font-weight: 500;
       }
       .claim-status-3{
        font-size: .9em;
        color: #aaa;
        padding-bottom: .2rem;
       }
       .claim-status-4{
           font-size: .9rem;
           padding-bottom: .7rem;
           font-weight: 500;
           color: rgb(66, 60, 60);

       }
       
       .icon-solid-active{
             color: red;
       }

.claim-footer{
  padding: 0px;

       .claim-footer-section{
         display: grid;
         grid-template-columns: 1fr auto ;
         background-color: #e9f4f8;
         color: rgb(32, 161, 217);
         border-bottom-right-radius: 5px;
         border-bottom-left-radius: 5px;
        //  column-span: 5px;
        padding: .9rem .6rem;
        .claim-id{
          font-size: .8em;

        }
        .claim-no{
          color: rgb(90, 117, 198);
          font-weight: 600;
          font-size: .95rem
        }
        .claim-id-1{
          text-align: right;
        }
        

       }


      }
   }

  }

.form-button{
    border: 1px solid #2C92C7!important;
    background-color: #fff;
    border-radius: 15px;
    min-width: 7rem;
    padding: 2% 0%;
    cursor: pointer;
}
.padding-left{
  padding-left: 15%;
}
.padding-top{
  padding-top: 35%;
}

  // bottstrap  css 

  // .nav-pills .nav-link {
  //   background: none;
  //   border: 0;
  //   border-radius: 0.25rem;
  // }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color:  rgba(168, 215, 233, 0.37) !important;
    color: #125477!important;
    border-left:4px solid #2C92C7!important;
    
  }

  // .border-css{
  //   border:1px solid #b4cae0!important;
  // }
  // .border-css{
  //   border:1px solid #2975c2!important;
  // }
  .input-group-text {
    background-color: #fff!important;
  }
  .borderright-0{
    border-top: 1px solid #aaa!important;
    border-left: 1px solid #aaa!important;
    border-bottom: 1px solid #aaa!important;
    border-right: 1px solid #fff!important;
  }
  .borderleft-0{
    border-top: 1px solid #aaa!important;
    border-right:  1px solid #aaa!important;
    border-bottom:  1px solid #aaa!important;
    border-left:1px solid #fff!important;
  }
  // .nav-fill > .nav-link,
  // .nav-fill .nav-item {
  //   flex: 1 1 auto;
  //   text-align: center;
  // }


  .fvo-navbar{
    display: grid;
    grid-template-columns:auto 1fr 5fr auto auto;
    min-height: 50px;
   
  
  
  }
  
  .icons{
   
    color:rgb(188, 179, 179);
    font-size: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    
  }
  .icons i{
   
    color:rgb(153, 147, 147);
    font-size: 1rem;
    
    padding-right: .7rem;
    
  }
  .link-container{
    background-color: red;
  }
  .links{
    border: none;
    background-color: #fff;
    
     color: #aaa;
     font-weight: 600;
    
     color: rgba(146, 145, 155, 0.075);
   }
  
  .links hr{
   
    margin-left: .6rem;
    padding-left: .3rem;
    color: #aaa;
    font-weight: 600;
   
    color: rgba(146, 145, 155, 0.075);
  }
#logo{
  display: flex;
  justify-content: start;
  align-content: center;
  
}

.profile-name{
   display: grid;
     align-content: center;
     font-weight: 600;
     color: rgb(93, 100, 103);
     
     
}

.profile{
    display: grid;
    grid-auto-flow: column;
    border-radius: 50%;
     border: 2px solid rgb(216, 194, 236);
    height: 50px;
    width: 50px;
}

@media only screen and (max-device-width: 480px) {

    .logo-visible{
        display: none;
    }

}
hr{
  width: 100%;
  color: rgb(240, 232, 232);
}
p{
  margin: initial;
}
